:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(38, 38, 38);
  background-color: #ffffff;
}

/* Navigate.jsx */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 50px;
  background-color: rgb(41, 41, 41);
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img{
  width: 50px;
}

nav .logo h2{
  color: yellow; 
  margin-right: 10px;
}

.navLink{
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.active {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

/* Home.jsx */

.bienvenida{
  text-align: center;
}

.bienvenida h1{
  margin-top: 70px;
}

.bienvenida img {
  width: 700px;
  margin-top: -70px;
}

/* Pokemones.jsx */

.selectPokemon{
  text-align: center;
  margin-top: 70px;
}

.selectPokemon h1{
  margin-bottom: 40px;
}

.selectPokemon select{
  width: 200px;
  height: 35px;
  padding-left: 8px;
  margin-bottom: 35px;
}

.boton button{
  border: none;
  background-color: rgb(41, 41, 41);
  color: yellow;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  transition: all .3s;
}

.boton button:hover{
  background-color: yellow;
  color: red;
}

/* DetallesPokemon.jsx */

.pokemon h1 {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.descripcion{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .descripcion .imagen img{
  margin-right: 50px;
 }

 .informacion{
  display: flex;
  gap: 50px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  margin-top: 40px;
 }
